<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWdL6FdpI66WMgb3LElTkFCkLXq8Iu7Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>792418841352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kart.ExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-564a4</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-564a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792418841352:ios:33fc4f6e09e8b77e5432bd</string>
</dict>
</plist>